@model IEnumerable<Restaurant_Manager.Models.CustomerOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Open)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @if (item.Open)
                    {
                        <a href="#" id="completeOrderTag">Complete</a>
                        <form id="completeOrderForm" asp-action="Complete" asp-route-id="@item.Id"></form>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

<script>
        document.getElementById("completeOrderTag").onclick = function() {
        document.getElementById("completeOrderForm").submit();
    }
</script>